{% extends 'main.html' %}

{% block title %}
   DeleteTask
{% endblock %}

{% block content %}

<style>
      .center-column{
		width:600px;
		margin: 20px auto;
		padding:20px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}
</style>
    
  <div class="center-column">
        <p>Are you sure you want to delete {{item}} ?</p>

        <a href="{% url 'home' %}">Cancel</a>

        <form action="" method="post">
            {% csrf_token %}
            <input type="submit">
        </form>
  </div>

{% endblock %}